@font-face {
    font-family: robotoLight;
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: robotoBold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: cominfB;
    src: url(fonts/CormorantInfant-Bold.ttf);
}
@font-face {
    font-family: cominfBI;
    src: url(fonts/CormorantInfant-BoldItalic.ttf);
}
@font-face {
    font-family: cominfI;
    src: url(fonts/CormorantInfant-Italic.ttf);
}
@font-face {
    font-family: cominfM;
    src: url(fonts/CormorantInfant-Medium.ttf);
}
@font-face {
    font-family: cominfMI;
    src: url(fonts/CormorantInfant-MediumItalic.ttf);
}
@font-face {
    font-family: cominf;
    src: url(fonts/CormorantInfant-Regular.ttf);
}
@font-face {
    font-family: cominfSB;
    src: url(fonts/CormorantInfant-SemiBold.ttf);
}
@font-face {
    font-family: cominfSBI;
    src: url(fonts/CormorantInfant-SemiBoldItalic.ttf);
}
@font-face {
    font-family: cominfL;
    src: url(fonts/CormorantInfant-Light.ttf);
}
@font-face {
    font-family: cominfLI;
    src: url(fonts/CormorantInfant-LightItalic.ttf);
}
@font-face {
    font-family: robotoThin;
    src: url(fonts/Roboto-Thin.ttf);
}
body { 
    margin: 0;
    background-color: rgba(10,10,10,1);
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#header {
    background-color: rgba(0,0,0,1);
    padding: 5px;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}
#header #logo {
    max-width: 15%;
    margin: 0.5% 0 0.5% 2%;
    height: auto;
    width: 40%;
    float: left;
    transition: 0.4s;
}
#headerNav {
    width: 100%;
    text-align: center;
    margin: 21% 0 0 0; /* changing */
    padding: 0;
    display: inherit;
}
#headUL {
    margin: 0 auto 2% auto; /* changing */
    float: none;
    padding: 0;
    transition: 0.4s;
    width: 80%;
}
.navLinks {
    list-style-type: none;
    display: inline;
    color: white;
    font-family: cominfB;
    font-size: 1.5vw; /* changing */
    text-decoration: none;
    margin: 1% 1.5%;
    padding: 0;
    transition: 0.1s;
}
.navLinks a {
    color: white;
}
.navLinks a:hover {
    color: #70bf44;
}
a {
    text-decoration: none;
    color: #70bf44;
    transition: 0.2s;
}
a:hover {
    color: #faaa69;
    cursor: pointer;
}
#navPics {
    text-align: center;
    display: inherit;
    margin-top: 10px;
}
#navPics img {
    width: 2.3%;
    height: auto;
    margin: 10px;
}
#fillerImage {
    margin-top: 2vw;
    margin-bottom: 0;
    padding: 15px 0 0 0;
}
#fillerImage img {
    background-color: green;
    width: 100%;
    height: auto;
    margin: 0 0 -8px;
    padding: 0;
}
#about {
    background-color: rgba(0,98,66,1);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 0 60px;
    
}
h1 {
    font-family: cominfM;
}
h2, h3, h4 {
    font-family: cominfL;
}
#about h3 {
    margin: 0 auto;
    width: 57%;
    font-size: min(30px, 2vw);
    color: white;
}
#current h2 {
    font-size: 2.9vw;
    font-family: cominfL;
    padding-top: 50px;
    margin-top: -20px;
}
#cpyrght h4 {
    color: white;
    margin: 0 auto;
    padding: 25px 0 5px 0;
    width: 95%;
    font-family: cominfM;
}
#cpyrght p {
    font-family: robotoLight; 
    color: white; 
    margin: 0 auto 20px auto; 
    padding: 0; 
    font-size: 0.9em;
}
p {
    font-size: max(20px, 2vw);
    font-family: robotoLight;
}
h1 {
    font-size: min(6vw, 400%);
    margin: 0 auto;
    padding: 5vh 0 2vh;
    width: 100%;
    text-align: center;
    color: white;
}
#about p {
    margin: 0 auto;
    padding: 0 0 30px;
    width: 57%;
    line-height: 1.5em;
    color: white;
    font-size: min(20px, 1.3vw);
}

.testimonials {
    text-align: center;
    background-color: rgba(50,50,50,1);
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 3vw 0;
}
.testimonials h4, .testimonials2 h4 {
    color: white;
    margin-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 0;
    font-size: max(1.5vw, 10px);
    font-family: robotoLight;
}
.testimonials h3 {
    color: white;
    font-size: min(2.0vw, 110%);
    margin: 0;
    padding: 30px 0 5px 0;
    font-family: cominfL;
    font-size: 3vw;
}
#artists {
    background-color: rgba(52,68,134,1);
    height: auto;
    padding-top: 2vw;
    text-align: center;
}

.smallPics {
    display: inline-block;
    margin: 0 2.4vw;
    padding: 0 0 25px;
    width: 20%;
    height: 30%;
}

.smallPics img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.name {
    color: #70bf44;
    margin: 0 auto;
    font-size: 2vw;
    font-family: cominf;
}
.name:hover {
    color: #faaa69;
}
.name a {
    cursor: pointer;
}

.instrumentName {
    margin: 0;
    font-size: 1.5vw;
    font-family: cominfL;
    color: white;
    padding-bottom: 40px;
}

#summer {
    background-color: #0076a3;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.supertitle {
    color: white;
    text-align: center;
    font-size: max(2.7vw, 16px);
    width: 100%;
    margin: 0;
    padding: 5px 0 20px;
    font-family: cominfL;
}

#summer h3 {
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
    color: white; 
    font-size: max(1.5vw, 20px);
    font-family: robotoLight;
}

.shows {
    width: min(85%, 100vh);
    background-color: rgba(255,255,255,0.1);
    height: min(13vw, 138px);
    min-height: 90px;
    padding-bottom: 5px;
    margin: 20px auto;
}
.shows p {
    font-size: max(1.5vw, 15px);
    margin-bottom: 9px;
    margin-top: 7px;
    color: white;
}
.shows h4 {
    margin: 0;
    padding: 0px;
    white-space: nowrap;
    color: white;
    font-size: max(1.4vw, 15px);
    overflow: hidden;
}
.shows img {
    height: inherit;
    min-height: 90px;
    object-fit: cover;
    overflow: hidden;
    float: left;
    margin: 0 2vw 0 0;
    padding: 0;
}
.shows h2 {
    margin: 0;
    white-space: nowrap;
    font-size: max(2.2vw, 18px);
    overflow: auto;
    padding: 14px 5px 0 0;
}

#fillerImage2 {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    height: 25vw;
}
#fillerImage2 img {
    width: inherit;
    height: inherit;
}

#season {
    background-color: #4a1582;
    height: auto;
    padding-bottom: 50px;
}
#season h3 {
    width: 80%;
    text-align: left;
    color: white;
    font-size: min(1.9vw, 20px);
    margin: 0 auto;
    padding: 0;
}
#season a {
    color: #70bf44;
}
#season a:hover {
    color: #faaa69;
}
#summer a {
    color: #70bf44;
}
#summer a:hover {
    color: #faaa69;
}

#recordings {
    background-color: rgba(0,98,66,1);
    text-align: center;
    height: auto;
    padding-bottom: 20px;
}
#recordings h3 {
    font-size: min(2vw,17px);
    margin-bottom: 0;
}
#recordings h4 {
    width: 90%;
    margin: 0 auto;
    color: white;
}
.prevconc {
    margin: 0 20px;
}
#recordings div {
    width: 300px;
    height: 370px;
    display: inline-block;
    margin: 0 50px;
    padding: 0;
}
#recordings div img {
    width: 65vw;
    height: 65vw;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}

#donors {
    background-color: rgb(0,0,0);
    text-align: center;
    height: auto;
    padding-bottom: 20px;
}
#donors h2 {
    color: white;
    font-size: 3.5vw;
    padding-top: 2vw;
    margin: 0 0 30px 0;
    font-family: cominfL;
}

.row {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#donate {
    background-color: rgba(50,50,50,1);
    height: auto;
    padding: 20px 0;
}
#donate li {
    margin-top: 10px;
}
#donate p {
    width: 70%;
    color: white;
    line-height: 1.3em;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.6vw;
}
#donate h2 {width: 70%;
    color: white;
    line-height: 1.3em;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    font-size: 2.3vw;
}
#donate ul {
    color: white;
    width: 70%;
    font-family: robotoLight;
    font-size: min(1.5vw);
    margin: 0 auto;
}
#donateButton, #donateButton2 {
    background-color: #70bf44;
    margin: 20px auto;
    padding: 15px 5px;
    text-align: center;
    width: max(10%, 20vw);
    transition: 0.4s;
    font-size: min(2.5vw, 25px);
    border-radius: 6px;
    cursor: pointer;
    color: black;
}
#donateButton:hover, #donateButton2:hover {
    background-color: #faaa69;
}

#contact {
    background-color: rgba(0,0,0,1);
    width: 100%;
    height: auto;
    padding-bottom: 80px;
}
form {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
input[type=text], select, textarea {
    margin: 10px auto 0 auto;
    padding: 15px 0 15px 8px;
    width: 100%;
    font-family: sans-serif;
    display: block;
    height: 25px;
    
}
input[type=submit] {
    background-color: #70bf44;
    color: #000;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    width: 25%;
    font-size: 20px;
    transition: 0.3s;
    float: right;
}
input[type=submit]:hover {
    background-color: #faaa69;
}
#navPics2 img {
    width: max(2.3%, 35px);
    margin: 0 max(1.5%, 20px);
    height: auto;
}

#cpyrght {
    background-color: rgba(0,0,0,1);
    text-align: center;
    padding-top: 30px;
}

button {
    border: none;
    width: 40%;
    height: 8%;
    font-size: 20px;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: #70bf44;
    transition: 0.2s;
}
button:hover {
    background-color: #faaa69;
    cursor: pointer;
}

#bigdonors img {
    width: 15%;
}

#namelist h4 {
    font-size: 200%;
    margin: 5vw 0 1vw;
    padding: 0;
}
#namelist p {
    font-size: 100%;
    margin: 10px 0;
}

#namelist {
    -webkit-columns: 5 200px;
    -moz-columns: 5 200px;
    columns: 5 200px;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
    -webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
    column-rule: 1px dotted #ddd;
    padding: 0 20px;
    text-align: left;
    color: white;
}

#current {
    text-align: center;
    color: white;
    background-color: rgb(50,50,50);
    height: auto;
    padding-bottom: 30px;
}
#current p {
    font-family: robotoLight;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 100%;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: cominfSB;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #70bf44;
}
.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn {
    cursor: pointer;
    background-color: #111;
    color: white;
}
.openbtn:hover {
    background-color: #70bf44;
}

#covidbutton {
    background-color: inherit;
    display: block;
    color: white;
    border: none;
    width: auto; 
    padding: 5px 10px; 
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px auto 0;
    text-align: center;
}
#covidbutton:hover {
    color: #70bf44;
}

#coviddetails {
    width: 90%;
    margin: 0 auto;
    color: white;
    font-size: max(1.3vw, 13px);
}


#currentvids p {
}

.testimonials2 {
    text-align: center;
    background-color: rgba(50,50,50,1);
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 55px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: rgba(0, 118, 163, 1);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    overflow: auto;
    width: 80%;
    max-height: 80%;
    text-align: center;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal-content p, .modal-content h3 {
    color: white;
    margin: 0;
    padding: 0;
    width: max(55%, 300px);
    margin: 0 auto;
}
.modal-content p {
    font-size: 1.3vw;
}
.modal-content h2 {
    color: white;
    font-size: max(20px, 3.5vw);
    margin: 10px auto;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close {
    color: #FFF;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 0.2s;
    position: absolute;
    top: 10%;
    right: 12%;
}
.close:hover, .close:focus {
    color: #faaa69;
    text-decoration: none;
    cursor: pointer;
}
#buttonWrapper {
    color: white;
    width: 100%;
    margin: 0px auto 0 auto;
    display: inline-block;
    height: auto;
    padding-bottom: 0px;
}

#phonemenu {
    margin: 5px 3vw 0 0;
    padding: 4px 13px 5px 13px;
    font-size: 3vw;
    float: right;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: 0.3s;
    width: auto;
    background-color: black;
}
#phonemenu:hover {
    color: #70bf44;
    background-color: black;
}

#buttonP {
    display: inline-block;
    font-family: cominf;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    padding: 15px 0;
    font-size: max(1.6vw, 12px);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

audio {
    padding-bottom: 0px;
    z-index: 1;
    border: none;
    padding: 5px 0 20px;
    margin: 0;
    display: inline-block;
}



.lefty, .lefty em {
    text-align: left;
    width: max(55%, 300px);
    margin: 0;
    padding: 0;
}


#navPics2 {
    height: auto;
}

#lastAudio {
    margin-bottom: 18vw;
}

#semilastAudio {
    padding-bottom: 40px;
}

.bigboy {
    font-size: min(3.5vw, 65px);
    font-family: cominfL;
}














